@import "tailwindcss";

@theme {
  --color-bg: #FFFDF5;
  --color-wh: #FFFFFF;
  --color-rule: #E5CDE2;
  --color-ink: #3B2010;
  --color-ink2: #6A442A;
  --color-ink3: #7D5235;
  --color-pk: #FFD0E8;
  --color-pkl: #FFF0F8;
  --color-pkd: #B03070;
  --color-y: #FFE566;
  --color-yl: #FFFAE8;
  --color-yd: #8A6400;
  --color-bl: #C0DCFF;
  --color-bll: #EEF6FF;
  --color-bld: #1A5898;
  --color-gr: #B8EAA0;
  --color-grl: #EDFAE4;
  --color-grd: #1E6010;
  --color-rd: #FFAAAA;
  --color-rdl: #FFF0F0;
  --color-rdd: #881818;

  --font-serif: "Playfair Display", serif;
  --font-sans: "DM Sans", sans-serif;
}

.dark {
  --color-bg: #1C1A17;
  --color-wh: #26231F;
  --color-rule: #3A2E39;
  --color-ink: #F5F0E6;
  --color-ink2: #D9CBB6;
  --color-ink3: #B8A38E;
  --color-pk: #4A2036;
  --color-pkl: #2A121E;
  --color-pkd: #FFD0E8;
  --color-y: #665200;
  --color-yl: #262000;
  --color-yd: #FFE566;
  --color-gr: #154005;
  --color-grl: #0A2102;
  --color-grd: #B8EAA0;
  --color-rd: #551010;
  --color-rdl: #300808;
  --color-rdd: #FFAAAA;
}


@layer base {
  html, body {
    background-color: var(--color-bg);
    color: var(--color-ink);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.15s ease-out forwards;
  }

  .animate-slide-up {
    animation: slideUp 0.25s cubic-bezier(0.1, 0.9, 0.2, 1) forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
  }
}
